extends default

block content
  
  include nav

  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Lista de productos'

      table(class=['ui', 'table', 'celled'] id='tbl-productosfirebase')
        thead
          tr
            th ID Salario
            th Username
            th Salario
            th Salario Sin Descuento
            th Descuento de Renta
            th Descuento ISS
            th Descuento AFP
            th Editar
            th Borrar
            
        tbody(id='tbody-tabla-productos')
        each salario in salarios
          tr
            td=salario._id
            td=salario.username
            td=salario.salario
            td=salario.salario_sin_descuento
            td=salario.descuento_renta
            td=salario.descuento_iss
            td=salario.descuento_afp
            td
              a(class="ui button basic icon editar" href=`/salario/${username}`)
                i(class="cut icon")
            td
              a(class="ui button basic icon borrar")
                i(class="trash icon")